.preview-container{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preview-background{
    width: 50%;
    margin-top: 5vh;
    height: 100%;
    background:url("../../img/team-display-background.jpg")no-repeat center center/cover;
}
.position-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 25%;
}
.card{
    width: 120px;
    height: 160px;
}
.ST::after{
    content: "ST";
    width: 50px;
    height: 30px;
    top: 102%;
    left: calc(50% - 25px);
    position: absolute;
    text-align: center;
    background-color: rgba(255, 248, 220, 0.795);
    border-radius: 10px;
    
    /* background-color: black; */
}
@media (max-width:700px) {
    .card{
        width: 60px;
        height: 80px;
    }
}
