#global-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}
#home{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 70%;
    position: relative;
    background: #dbdbdbd3;
}
#home h4{
    position: absolute;
    color: rgb(14, 12, 15);
    font-size: 2.3rem;
    font-weight: 700;
    top: 10px;
    text-align: center;
}
.home-container{
    padding: 5rem 1rem;
    border-radius: 10px;
    position: relative;
}
.logo-home{
    top: 0;
    left: calc(50% - 70px);
    width: 140px;
    height: 140px;
    border-top-left-radius: inherit;
}
#home h1{
    font-size: 2rem;
    margin: 1rem;
}
.content{
    background: #4e4e4e99;
    color: white;
    text-align: justify;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
}
.content span{
    display: inline !important;
    font-weight: 700;
}
.social-media{
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    justify-content: space-around;
    grid-row: 18;
    flex-direction: column;
}
.social-media>div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 80%;
}
.social-media i{
    font-size: 2.5rem;
    transition: all 0.3s ease;
    width:100%;
    height: 100%;
    color: #3e1a61;
}
.social-media a:hover,
.social-media a:hover>*{
    transition: all 0.3s ease;
    transform: scale(1.08);
    color:purple !important;
}
.social-media a{
    display: block;
}
.links{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rawi h3{
    border-radius: 4px;
}
.hiOrLog{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin: 1rem;

}

.nav-home{
    width: 40%;
}
.nav-home >ul{
    list-style: inside;
    padding:0;
}
.nav-home ul li{
    background: #251e1e99;
    color: white;
    margin-top: 1rem;
    padding: .7rem;
    font-size: 1.4rem;
    cursor: pointer;
}
.nav-home ul li:hover{
    opacity: 0.8;
}
.nav-home ul a{
    text-decoration: none ;
}

@media (max-width:830px) {
    .home-container{
        width: 100%;
        font-size: 1rem;
    }
}
@media (max-width:950px) {
    #home h4{
        font-size: 1.4rem;
        position: unset;
    }
    #home .home-container .content{
        font-size: 1rem;
    }
    #home .home-container .content h1{
        font-size: 1.2rem;
    }
}
@media (max-width:1350px) {
    #home{
        flex-direction: column;
    }
    .nav-home {
        width: 80% ;
    }
}